*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layers{
    perspective: 1000px;
    overflow: hidden;
}
:root {
    --moveX: 10deg;
    --moveY: 10deg;
}

.layers-container{
    height: 100vh;
    perspective: 1000px;
    transform-style: preserve-3d;
    will-change: transform;
    transform: rotateX(var(--moveY)) rotateY(var(--moveX));
}



.layer-item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: centers;
}

.item-1 {
    transform: translateZ(-50px);
}
.item-2 {
    transform: translateZ(100px);
}
.item-3 {
    transform: translateZ(150px);
}
.item-4 {
    transform: translateZ(200px);
}
.item-5 {
    transform: translateZ(250px);
}
.item-6 {
    transform: translateZ(350px);
}
